@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Merriweather:wght@700&family=PT+Serif:wght@700&family=Poppins:wght@900&family=Roboto+Condensed&family=Roboto:wght@400;700;900&display=swap');

:root {
    --primary: #fe2c55;
}

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
